<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/statics/assets/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <title>ClipRoulette</title>
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <img src="/statics/assets/images/Logo.png" height="100" style="max-width: 120px">
            </div>
        </div>
        <br><br>
        <div id="vidcontainer">
            <div id="video">
                <div id="main-player">
                    Loading...
                </div>
                <br>
                <script src="/statics/main.js"></script>
            </div>
        </div>
    </body>
</html>
