<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/statics/assets/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <title>ClipRoulette</title>
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <img src="/statics/assets/images/Logo.png" height="100" style="max-width: 120px">
            </div>
        </div>
        <br><br>
        <div id="vidcontainer">
            <div id="video">
                <h2>ClipRoulette</h2>
                <p>See a brief overview of the parts of YouTube you never knew existed</p>
                <div id="main-player">
                <video autoplay loop>
                    <source src="{{ link }}" type="video/mp4">
                </video>
                </div>
                <br>
                <h3><a href="{{ link }}"> {{ link }} </a></h3>
            </div>
        </div>
    </body>
</html>
